---
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-merge-commit
  - prepare-commit-msg

repos:
  - repo: https://github.com/ambv/black
    rev: 26.1.0
    hooks:
      - id: black
        args: [--line-length=120]

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        args: [--fix, --line-length=120]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.12.1
    hooks:
      - id: commitizen

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: [-d, "{rules: {line-length: {max: 120}}}"]

  - repo: https://github.com/sirosen/check-jsonschema
    rev: 0.36.1
    hooks:
      - id: check-github-actions
      - id: check-github-workflows

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.105.0
    hooks:
      - id: terraform_fmt
      - id: terraform_validate
      - id: terraform_tflint

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: '3.2.500'
    hooks:
#      - id: checkov
#        verbose: false
#        args: [ --soft-fail ]
      # - id: checkov_container
      - id: checkov_diff
      # - id: checkov_diff_container
      - id: checkov_secrets
      # - id: checkov_secrets_container
