---
name: Deploy

on:
  push:
    branches: [main]
    paths:
      - '.github/workflows/deploy.yml'
      - '.github/workflows/tests-ut.yml'
      - '.github/workflows/tests-e2e.yml'
      - 'lint-services_pipelines.yml'
      - 'infra/**'
      - 'services/**'
      - 'pipelines/**'
      - 'tests/**'
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy to'
        required: true
        default: 'dev'
        type: choice
        options:
          - dev
          - prod

jobs:
  unit-tests:
    uses: ./.github/workflows/tests-ut.yml

#  e2e-tests:
#    needs: unit-tests
#    uses: ./.github/workflows/tests-e2e.yml

#  deploy:
#    needs: e2e-tests
#    runs-on: ubuntu-latest
#    steps:
#      - name: Deploy
#        run: echo "Deploy goes here"
