---
name: Lint Infrastructure

on:
  push:
    paths:
      - '.github/workflows/lint_infra.yml'
      - 'infra/**'

jobs:
  qa-infrastructure:
    name: QA Infrastructure
    runs-on: ubuntu-latest
    strategy:
      matrix:
        terraform_module:
          - bootstrap
          - global
          - services

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.13.1

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v6
        with:
          tflint_version: v0.52.0
          cache: true

      - name: Install Just
        uses: extractions/setup-just@v3

      - name: Terraform init
        run: just infra::${{ matrix.terraform_module }}::init local --backend=false

      - name: Terraform Format Check
        run: just infra::${{ matrix.terraform_module }}::fmt local

      - name: Terraform Validate
        run: just infra::${{ matrix.terraform_module }}::validate local

      - name: Terraform TFLint
        run: just infra::${{ matrix.terraform_module }}::lint local
