---
name: Lint Infrastructure

env:
  TF_VERSION: 1.13.1

on:
  push:
    paths:
      - 'infra/**'
      - '.github/workflows/lint_infra.yml'

jobs:

  lint-infrastructure:
    name: Lint Infrastructure
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Install Just
        uses: extractions/setup-just@v3

      - name: Terraform init
        run: just infra::init global

      - name: Terraform Format Check
        run: just infra::fmt global
      
      - name: Terraform Validate
        run: just infra::validate global
      
      - name: Terraform TFLint
        run: just infra::tflint global
