---
name: "[template] Unit Tests"

on:
  workflow_call:
    inputs:
      service-name:
        description: 'Name of the service to test'
        required: true
        type: string

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Install Just
        uses: extractions/setup-just@v2

      - name: Install dependencies
        run: |
          just sync ${{ inputs.service-name }}

      - name: Run Services Unit Tests
        working-directory: "services/${{ inputs.service-name }}"
        run: |
          just test
