---
name: "[template] Unit Tests"

on:
  workflow_call:
  pull_request:
    paths:
      - 'services/**'

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Install dependencies
        run: |
          uv sync --all-extras

      - name: Install Just
        uses: extractions/setup-just@v2

      - name: Run Unit Tests
        run: |
          just services::test-all
